.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.card-container {
  padding: 1rem;
  background-color: #2e2020;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #000;
  margin: 1rem 0;
  height: 150px;
}

.card-text {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.card-author {
  font-size: 0.875rem;
  color: #ccc;
}
